
	<div class="ui right floated inverted compact transparent segment" id="lp-blurb">
		<div class="ui inverted center aligned huge header">
		 Froshmate 
		 <div class="sub header">
		 	College admissions, rethought.
		 </div>
		</div>
		<div class="ui small header">
		Our Caltech and UChicago-based team is developing an Artificial Intelligence-driven approach to maximize your chances at college admissions. <br> <br>

		We have close affiliates at top colleges including Harvard, Princeton, Yale, Stanford, and MIT, all friendly
		and willing to speak with you about their college experiences. <br> <br>
		Sign up to stay up to date with our service!
		</div>


		{{#if signed_up }}
			<div class="ui message"> 
				<i class="green checkmark icon"/> 
				{{#if already_signed_up}}
				Looks like you've already signed up - thanks again for your interest!
				{{else}}
				Thanks for signing up! 
				{{/if}}
				We'll be in touch soon <i class="smile icon" /> 
			</div>
		{{else}}				
			<form {{action "signup" on="submit"}} class="ui form">

			  {{#if invalid_user_type}}
			  	<div class="field">
			  		<div> Please select an option that describes you </div>
			  	</div>
			  {{/if}}
				<div class="inverted field">
					  <div class="ui fluid labeled selection dropdown">
					    <div class="text">
					      I'm a...
					    </div>
					    <i class="dropdown icon"></i>
					    <div class="menu">
					    <div class="header">
					      I'm a...
					    </div>		
			      		  <div class="item" {{action "set_user_type" "High Schooler" }}>
						      <i class="grey child icon" />
						      High Schooler
					      </div>					    			    
					      <div class="item" {{action "set_user_type" "College Student" }}>
						      <i class="grey student icon" />
						      College Student
					      </div>
					      <div class="item" {{action "set_user_type" "Parent" }}>
						      <i class="grey user icon" />
						      Parent
					      </div>
					      <div class="item" {{action "set_user_type" "Teacher" }}>
						      <i class="grey idea icon" />
						      Teacher
					      </div>
					      <div class="item" {{action "set_user_type" "Guidance Counselor" }}>
						      <i class="grey users icon" />
						      Guidance Counselor
					      </div>					      

					    </div>
					  </div>
				</div>

				{{#if in_school}}
				<div class="field">
					<div class="ui left icon input">
						<i class="university icon"/>
						{{input value=school placeholder="School"}}
					</div>
				</div>
				{{/if}}

			  {{#if invalid_email}}
			  	<div class="field">
			  		<div> Please enter a valid email </div>
			  	</div>
			  {{/if}}		
				<div class="field">
					<div class="ui left icon input {{if invalid_email 'error'}}">			
						  <i class="{{if invalid_email 'red'}} mail icon"></i>
						  {{input class="ui left icon" value=email placeholder="Email"}}	
						<button class="ui red button" type="submit"> Sign up </button>
					</div>
				</div>
			</form>
		{{/if}}
		
		<br>
		{{#link-to 'about' class="link"}} 		 
		<div class="ui inverted button">		
			About our team 
		</div>
		{{/link-to}}		
	</div>


